.navbar{

  
    width: 100%;
    a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #ffffff;
    
    }
    a:hover{
        color: #9311cf;
    }



}