html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: grey;
  color: white;
}


.container {
  min-height: 100vh; // vh = viewport height
  min-width: 100vw; // vw = viewport width
 
  background-color: grey;
  



}


.toolbar {
  grid-area: toolbar;
}

.navbar {
  grid-area: navbar;
}

.content {
  grid-area: content;
}
