html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: grey; // Fondo gris
}

.main-content {
  flex: 1; // Esta parte se estira para ocupar el espacio disponible
  padding: 1rem;
}


